@use '_partials/reset' as *;
@use '_partials/variables' as *;
@use '_partials/mixins' as *;
@use '_partials/scrollbar' as *; 
@import "../css/chillax.css";

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    /*
    background-color: $ms_primary_color;
    background-image: url('/images/background-green.png');
    background-size: cover;*/
    font-family: 'Chillax-Medium';
}

