/******
color 
******/
$ms_primary_color: #ff8cb2;
$ms_primary_color_light: #fca0ab;
$ms_primary_color_ultralight: #fcc6cd;
$ms_secondary_color: #204d48; // background and dark text
$ms_secondary_color_medium: #268e81;
$ms_secondary_color_light: #38bdac;
$ms_primary_background: #68fcff;
$ms_secondary_background: #fce75e;
$ms_tertiary_background: #ecb040;