/******
color 
******/
$ms_primary_color: #ff8cb2;
$ms_primary_color_light: #ffe3ec;
$ms_secondary_color: #204d48; // background and dark text
$ms_secondary_color_medium: #268e81;
$ms_secondary_color_light: #2a9d8f;
$ms_primary_background: #68fcff;
$ms_secondary_background: #fde12d;